@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#content_container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height: 750px;
	background-attachment: scroll;
	background-image: url(../images/blueprint.png);
	background-position-y:0%;
	background-repeat: no-repeat;
	background-position: right top;
}

#main_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
}

#bottom_bar_black {
	width:100%;
	height:160px;
	background-color:#000000;
}

#nav_block {
	width: 400px;
	height:90px;
	float:right;
}

.nav_button {
	width: 70px; 
	color:#FFFFFF;
	padding: 1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:5px;
	margin-top:35px;
	text-align:center;
	float:left;
}

.nav_button:hover {
	cursor: pointer;
	text-decoration:underline;
	background-color:#333333;
}

#header {
	width:500px;
	margin-top:100px;
	margin-bottom:250px;
	float: left;
}

.header_content_mainline {
	font-size:35px;
	color:#000000;
	width:500px;
	font-style: italic;
}

#header_content_boxline {
	font-size:35px;
	color:#000000;
	width:400px;
	font-style: italic;
}

#header_content_boxcontent {
	font-size:12px;
	color:#333333;
	width:400px;
	font-style: italic;
}

#header_content_lowerboxcontent {
	font-size:12px;
	color:#CCCCCC;
	width:400px;
}

#header_content_tagline {
	font-size:12px;
	color:#333333;
	width:500px;
}

#header_lower {
	width:400px;
	float:left;
	margin-right:40px;
}

#copywriteblock {
	color: #FFFFFF;
}
